You are an agile estimation expert. A developer has described the following user story.

Title: {{ instance.title }}
Description: {{ instance.description }}

Estimate the effort in Story Points using: 1, 2, 3, 5, 8, 13, 21.
Respond ONLY with an integer.
Story Points:
